<div style="margin: 0 auto; line-height: 24px; letter-spacing: -0.3px; min-width: 360px; max-width: 600px">
  <div style="color: #363a42; background-color: #fff; font-size: 14px; padding: 20px 15px">
    <!-- <img src="https://cf.res.s.zigzag.kr/email/ZigZag_new_black_logo.png" width="65" height="23" loading="lazy"> -->
    <strong style="display: block; margin-top: 20px; margin-bottom: 30px; font-size: 24px; line-height: 35px">
      비밀번호 재설정 안내
    </strong>
    <hr style="width: 100%; height: 2px; color: #363a42; background: #363a42; border: none; margin: 0px">
    <div style="width: 100%; margin-top: 30px">
      안녕하세요, 배낭버스 고객센터입니다.<br>
      아래 링크를 클릭하시면, 비밀번호를 재설정하실 수 있습니다!<br>
      <br>
      <a href="#{{user_email}}"
        target="_blank"
        style="text-decoration: none;display: block;border-radius: 6px;background-color: red;color: #fff;text-align: center;padding: 10px;font-size: 15px;"
        rel="noreferrer noopener">
        비밀번호 변경하기
      </a>
    </div>
  </div>
  <div style="color: #626773; background-color: #f5f5f7; font-size: 13px; padding: 20px 15px">
    <b>(주)배낭버스</b>
    <br>
    서울특별시 OO구
    <br>
    대표: OOO
    <br>
    E-MAIL: OOOOOOOOOOOOOO
    <br>
    사업자등록번호: OOO-OO-OOOO
    <br>
    고객센터: OOOO-OOOO
  </div>
</div>